.formContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #0005;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin: auto;

  background-color: white;
  padding: 1rem;
}

.form table {
  display: grid;
}

.form input {
  border: solid 2px #0003;
  border-radius: 4px;
  padding: 0.2rem;
}

.form td {
  padding: 0 0.5rem 0.5rem 0;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}
