html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  background-color: #efefef;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

button,
input[type="submit"] {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-weight: 800;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
}

input[type="submit"] {
  background-color: #0ef24c;
  color: #000;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 4px;
}
